<% layout("/layouts/boilerplate.ejs") %>
 <style>

  .filters {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
    }
.filter {

      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.8;
      
    }
    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }
    .filter p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
    }
    
    .tax-toggle {
      border: 1px solid black;
border-radius: 1rem;
      padding: 1rem;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      height: 3rem;
      margin-left: 2rem;
      
    }
 </style>




<%
  const filters = [
    { icon: "fa-fire", label: "Trending" },
    { icon: "fa-bed", label: "Rooms" },
    { icon: "fa-mountain-city", label: "Iconic Cities" },
    { icon: "fa-mountain", label: "Mountain" },
    { icon: "fa-fort-awesome", label: "Castels" },
    { icon: "fa-person-swimming", label: "Amazing Pools" },
    { icon: "fa-campground", label: "Camping" },
    { icon: "fa-cow", label: "Farms" },
    { icon: "fa-snowflake", label: "Arctic" }
  ];
%>
<div class="filters">
  <% for(let filter of filters) { %>
    <div class="filter">
      <div><i class="fa-solid <%= filter.icon %>"></i></div>
      <p><%= filter.label %></p>
    </div>
  <% } %>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3" >
  <% for(let listing of listings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card cols">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br>
            ₹<%= listing.price.toLocaleString("en-IN")  %>/night
            <i>&nbsp;&nbsp;+18% GST</i>
          </p> 
        </div>
      </div>
    </a>
  <% } %>
</div>    


<script>
let taxToggle = document.getElementById('switchCheckDefault');
taxToggle.addEventListener('change', function() {
  let listingCards = document.querySelectorAll('.card');
  listingCards.forEach(card => {
    let priceElement = card.querySelector('.card-text');
    let price = parseFloat(priceElement.textContent.match(/₹([\d,]+)/)[1].replace(/,/g, ''));
    if (this.checked) {
      let tax = price * 0.18; // Assuming 18% tax
      let totalPrice = price + tax;
      priceElement.innerHTML = `₹${totalPrice.toLocaleString("en-IN")}/night (including taxes)<br>` + 
                               `₹${price.toLocaleString("en-IN")}/night (before taxes)`;
    } else {
      priceElement.innerHTML = `₹${price.toLocaleString("en-IN")}/night`;
    }
  });
});

</script>






